[submodule "foundry-simple-storage/lib/forge-std"]
	path = foundry-simple-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-fundme/lib/forge-std"]
	path = foundry-fundme/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
